<div class="container">
    <h2>New pizza details</h2>
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <partial name="../Shared/_AddEditFormFields.cshtml" />
    </form>
</div>
