@{
    ViewData["Title"] = "user Page";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between align-items-center mb-2">
    <h1>Choose a pizza</h1>
    <button type="button" class="btn btn-danger" id="new-pizza-btn">Create new pizza</button>
</div>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search for a pizza.." id="pizza-input">
    <button class="btn bg-danger text-white" type="button" id="search-btn">Search</button>
</div>
<div class="row mt-2" id="pizzas-container"></div>
<div id="no-results" class="d-none">No pizza founded...</div>

@section Scripts {
    <script type="text/javascript">

        let pizzasContainer = document.getElementById("pizzas-container");
        let noResults = document.getElementById("no-results");
        let searchButton = document.getElementById("search-btn");
        let pizzaInput = document.getElementById("pizza-input");
        let createNewPizzaBtn = document.getElementById("new-pizza-btn");

        loadAllPizzas();

        searchButton.addEventListener("click", function () { searchPizzaByName(pizzaInput.value) });
        createNewPizzaBtn.addEventListener("click", function () { createPizza() })

        function loadAllPizzas() {
            axios.get('/api/Pizzas/all')
                .then((res) => {
                    pizzasContainer.innerHTML = ``;
                    res.data.forEach(pizza => {
                        if (res.data.lenght === 0) {
                            pizzasContainer.classList.add("d-none");
                            noResults.classList.remove("d-none");
                        } else {
                            reloadInterface(pizza);
                        }

                    });

                    let deleteBtns = document.querySelectorAll(".delete-btn");
                    let updateBtns = document.querySelectorAll(".update-btn");

                    for (var i = 0; i < deleteBtns.length; i++) {
                        let id = deleteBtns[i].id;
                        deleteBtns[i].addEventListener('click', function () {
                            deletePizza(id);
                        })
                    }

                    for (var i = 0; i < updateBtns.length; i++) {
                        let id = updateBtns[i].id;
                        updateBtns[i].addEventListener('click', function () {
                            updatePizza(id);
                        })
                    }
                });
        }

        function searchPizzaByName(searchText) {
            axios.get('/api/Pizzas/byName', {
                params: {
                    searchText: searchText
                }
            }).then((res) => {
                console.log(res.data.length)
                if (searchText === "") {
                    pizzasContainer.classList.remove("d-none");
                    noResults.classList.add("d-none");
                    loadAllPizzas();
                }
                else if (res.data.length == 0) {
                    pizzasContainer.classList.add("d-none");
                    noResults.classList.remove("d-none");
                } else {
                    pizzasContainer.innerHTML = ``;
                    res.data.forEach(pizza => {
                        reloadInterface(pizza);
                    });
                }

                let deleteBtns = document.querySelectorAll(".delete-btn");
                let updateBtns = document.querySelectorAll(".update-btn");

                for (var i = 0; i < deleteBtns.length; i++) {
                    let id = deleteBtns[i].id;
                    deleteBtns[i].addEventListener('click', function () {
                        deletePizza(id);
                    })
                }

                for (var i = 0; i < updateBtns.length; i++) {
                    let id = updateBtns[i].id;
                    updateBtns[i].addEventListener('click', function () {
                        updatePizza(id);
                    })
                }
            });
        }

        function reloadInterface(pizza) {
            pizzasContainer.innerHTML +=
                `
                                                                                                                                                        <div class="col-lg-2 col-sm-6 col-md-4 d-flex justify-content-center mb-3" >
                                                                                                                                                           <div class="card h-100 border-5 border-danger" style = "width: 18rem;" >
                                                                                                                                                             <img src="${pizza.photoUrl}" class="card-img-top" alt = "..." >
                                                                                                                                                             <div class="card-body">
                                                                                                                                                                <h5 class="card-title" > ${pizza.name}</h5>
                                                                                                                                                                 <p class="card-text" > ${pizza.description}</p>
                                                                                                                                                                 <div class="container align-items-center justify-content-between d-flex flex-column">
                                                                                                                                                                         <button type="button" class="btn btn-danger mb-2"> Buy for ${pizza.price}€</button>
                                                                                                                                                                         <button type="button" class="btn btn-warning update-btn mb-2" id="${pizza.id}">Update Pizza</button>
                                                                                                                                                                         <button type="button" class="btn btn-danger delete-btn" id="${pizza.id}">Delete Pizza</button>
                                                                                                                                                                 </div>
                                                                                                                                                             </div>
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                         `
        }

        function deletePizza(pizzaId) {
            axios.delete('/api/Pizzas/delete/' + pizzaId)
                .then((res) => {
                    console.log(pizzaId)
                    loadAllPizzas();
                });
        }

        function createPizza() {
            const pizzaData = {
                Name: "Pizza creata Axios",
                PhotoUrl: "https://th.bing.com/th/id/R.23c7f2098e23c881354adc623cb4905e?rik=cX7WzKaxSdKJcw&pid=ImgRaw&r=0",
                Description: "Questa pizza è stata creata con axios",
                Price: 100,
                CategoryId: 2
            }

            axios.post('/api/Pizzas/create', pizzaData)
                .then((res) => {
                    loadAllPizzas();
                });

            loadAllPizzas();
        }

        function updatePizza(pizzaId) {
            const data = {
                id: pizzaId,
                Name: "Pizza Edit Axios",
                PhotoUrl: "https://th.bing.com/th/id/R.23c7f2098e23c881354adc623cb4905e?rik=cX7WzKaxSdKJcw&pid=ImgRaw&r=0",
                Description: "Questa pizza è stata modificata con axios",
                Price: 30
            }

            axios.put('/api/Pizzas/update/' + pizzaId, data)
                .then((res) => {
                    loadAllPizzas();
                });
        }
    </script>
}
